.env
.directory
node_modules
package-lock.json
TODO.md
.vscode
!tilecache/
tilecache/*
logs/*
*.log
error.log
out.log
.exe
*.exe
!deployments
!deployments/
deployments/*
!deployments/example
!deployments/example/
!deployments/example/*
!deployments/*.bat

NYCDHS_SiteLocationData*